# Note that this cannot by symlinked -- must be directly copied to $HOME
[user]
    email = amandaryman@gmail.com
    name = aryman

[pull]
    rebase = true

[color]
    ui = true

[color "branch"]
    current = yellow reverse bold
    local = yellow
    remote = yellow dim

[color "diff"]
    meta = yellow bold
    old = cyan bold
    new = magenta bold

[color "status"]
    added = cyan
    changed = magenta
    untracked = yellow

[alias]
    editor = atom --wait
    co = checkout
    ci = commit
    st = status
    br = branch
    cm = commit -m
    aa = add -A
    reb = rebase
    rebc = rebase --continue
    rl = reflog
    sh = show
    s = stash
    sl = stash list
    slp = stash list -p
    sp = stash pop
    sa = stash apply
    res = reset
    resh = reset --hard

    # ==== LOG STUFF ====
    lno = log --name-only --oneline # show names of files that changed
    lg = !"git lg1" #change to your favorite l#
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg3 = !"git lg3-specific --all"
    lg4 = !"git lg4-specific --all"
    lg5 = !"git lg5-specific --all"
    lg6 = !"git lg6-specific --all"

    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
    lg4-specific = log --graph --abbrev-commit --decorate --date=relative --pretty=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold yellow)%d%C(reset)'
    lg5-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg6-specific = log --graph --date=format:'%a %F %T' --pretty=format:'%C(bold blue)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(bold yellow)%d%C(reset)%n %C(bold cyan)%ad%C(reset) %C(bold red)%an%C(reset)  %n  %s:'
